@charset "UTF-8";

/*
 Base style
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
@media screen and (min-width:767px) {
    body {
        font-size: 16px;
    }
}

/*
画像にのみ付与する
*/
.u-img {
    width: 100%;
    height: auto;
}

/*
ハンバーガーメニュー初期状態
*/
.js-menu {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 2;
}
.js-menu__button {
    position: relative; 
    cursor: pointer;
    width: 50px;
    height:50px;
    border-radius: 5px;
}
.js-menu__button span {
    display: inline-block;
    transition: all .5s linear;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
}
.js-menu__button span:nth-of-type(1) {
    top:15px; 
    width: 45%;
} 
.js-menu__button span:nth-of-type(2) {
    top:23px;
    width: 45%;
} 
.js-menu__button span:nth-of-type(3) {
    top:31px;
    width: 45%;
}
.js-menu-list {
    transition: all .3s linear;
    opacity: 0;
}
  

/*
ハンバーガーメニュー開いた時のヘッダーメニュー
*/
.js-menu-list {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #bcbcbc;
}
.js-menu-list__item {
    width: 100%;
    height: auto;
    margin: 12px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    font-size: 16px;
}
.js-menu-list__item a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.js-menu-list__item a:hover {
    opacity: 0.5;
}

.js-menu-list.active {
    opacity: 1;
}   
.js-menu__button.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}
.js-menu__button.active span:nth-of-type(2) {
    opacity: 0;
} 
.js-menu__button.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}

/*
各セクションのセンタリング&全セクション共有で使うクラス
*/
.concept {
    width: 100%;
    padding: 75px 0px 35px;
    background: linear-gradient(#fff 70%, #ededed 70%);
}
.florist {
    width: 100%;
    padding: 55px 0px 35px;
    background: linear-gradient(#ededed 30%, #fff 30%);
}
.works,
.shop-information,
.contact-us {
    padding: 55px 0px 35px;
}
.section-container {
    width: 91%;
    margin: 0 auto;
    text-align: center;
}
.section-heading {
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 36px;
    letter-spacing: 2;
}
.section-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 1px;
    background: #2b2b2b;
    transform: translateX(-50%);
}
.section-lead {
    margin: 0;
    padding: 20px 0 40px;
    line-height: 1.8;
    letter-spacing: 1.5;
}

@media screen and (min-width:767px) {
    .concept {
        padding: 120px 0px 95px;
        background: linear-gradient(#fff 60%, #ededed 60%);
    }
    .florist {
        padding: 100px 0px 95px;
        background: linear-gradient(#ededed 40%, #fff 40%);
    }
    .works,
    .shop-information,
    .contact-us {
        padding: 100px 0px 95px;
    }

    .section-container {
        width: 75%;
        margin: 0 auto;
        max-width: 1040px;
    }
}

/*
メインビジュアル部分
*/
.keyv {
    position: relative;
}
.keyv-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    margin: 0;
    width: 45%;
}
.keyv-lead {
    position: absolute;
    display: block;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    font-size: 18px;
    text-align: center;
    color: white;
    line-height: 1;
}
@media screen and (min-width:767px) {

    .keyv-heading {
        top: 40%;
        width: 30%;
    }
    .keyv-lead {
        top: 59%;
        width: 30%;
        font-size: 22px;
    }
}


/*
works
*/
.works-list {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.works-list__item {
    width: 85%;
    margin:0 auto 50px 0;
}
.works-list__item:nth-child(even) {
    margin: 0 0 50px auto;
}
.works-list__title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}
.works-list__text {
    margin: 0;
}

@media screen and (min-width:767px) {
    .works-list {
        flex-wrap: wrap;
        height: 1300px;
        align-content: space-between;
    }
    .works-list__item {
        width: calc(50% - 40px);
        margin: 0 0 100px 0;
    }
    .works-list__item:nth-child(even) {
        margin: 0;
    }
    .works-list__item:nth-child(3) {
        padding-top: 40px;
    }

    .works-list__title {
        margin: 15px 0;
    }
    .works-list__text {
        margin: 0;
    }
}
@media screen and (min-width:960px) {
    .works-list {
        height: 1650px;
    }
}

/*
Florist
*/
.florist-list__item {
    text-align: left;
    margin: 30px 0;
}
.florist-list__heading {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}
.florist-list__text {
    margin: 0;
}
.florist-list__title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}
.florist-list__text {
    margin: 0;
}

@media screen and (min-width:767px) {
    .florist-list {
        display: flex;
        justify-content: space-between;
    }
    .florist-list__item {
        width: calc(33.3% - 15px);
        margin: 0;
    }
    .florist-list__heading {
        margin: 15px 0;
    }
    .florist-list__text {
        margin: 0;
    }

}

/*
shop information
*/
.shop-info-group {
    text-align: left;
    margin-top: 20px;
}
.shop-info-list {
    display: flex;
    flex-direction: column;
}
.shop-info-list__item {
    margin-bottom: 20px;
    vertical-align: initial;
}
.shop-info-list__title {
    padding-right: 20px;
    font-weight: normal;
    width: 90px;
}
.shop-info-list__text {
    padding-left: 20px;
    border-left: 1px solid #333;
}
iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

@media screen and (min-width:767px) {
    .shop-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    iframe {
        width: 52%;
    }
    .shop-info-group {
        width: calc(48% - 30px);
        margin: 0;
    }
    .shop-info-list__title {
        width: 100px;
    }
}

/*
contact us
*/
.contact-us {
    background-image: url('../../assets/images/contact_pc.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.contact-button {
    position: relative;
    background-color: white;
    padding: 16px 48px 16px 72px;
    line-height: 1;
    border: 1px solid #333;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}
.contact-button__icon {
    position: absolute;
    top: 12px;
    left: 40px;
}

/*
フッター
*/

hr {
    margin: 0;
}
.footer {
    width: 91%;
    margin: 10px auto;
    text-align: center;
}